$bgDark: #005580;
$bgLight: #006699;
$mainTextColor: white;
$maxColor: #ff8080;
$minColor: #00aaff;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	max-width: 1200px;
	div{
		margin: 0;
		padding: 0;
	}
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.bgLight:nth-child(2n-1){
	background-color: $bgLight;
}

.bgDarkDay:nth-child(2n){
	background-color: $bgDark;
}

.bgDark{
	background-color: $bgDark;
}

.weather {
	color: $mainTextColor;
}

.max-temp{
	color: $maxColor;
}


.min-temp{
	color: $minColor;
}

.weather-icon{
	max-width: 50px;
}